<app-page-header title="About" icon="info"></app-page-header>
<div class="page-content">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-sm-6">
                <h2>{{'author.Name' | translate}}<sup>&reg;</sup></h2>
                <p>{{'author.Position' | translate}}</p>
                <!--<p><span title="Contact me on Skype" class="fa fa-skype fa-fw"></span>ing.robertogarcia@hotmail.com</p>-->
                <!--<p><span title="Follow me on twitter" class="fa fa-twitter fa-fw"></span> <a class="black-anchor" target="_blank" href="https://twitter.com/kommand">twitter.com/kommand</a></p>
                <p><span title="Connect on facebook" class="fa fa-facebook-official fa-fw"></span> <a class="black-anchor" target="_blank" href="https://www.facebook.com/monney">facebook.com/monney</a></p>-->
                <p><span title="Drop me a mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:roberto.garcia@transmaquila.com">roberto.garcia@transmaquila.com</a></p>
                <!--<p><span title="My website" class="fa fa-globe fa-fw"></span> <a class="black-anchor" target="_blank" href="http://www.ebenmonney.com">www.ebenmonney.com</a></p>-->
                <br />
            </div>
            <div class="col-sm-6">
                <!-- Column 2 -->
            </div>
        </div>
        <div class="row bg-grey">
            <div class="col-sm-4">
                <span class="fa fa-globe logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>{{'app.About.OurValues' | translate}}</h2>
                <h4><strong>{{'app.About.Mission' | translate}}:</strong> {{'app.About.MissionDetail' | translate}}</h4>
                <p>
                    <strong>{{'app.About.Vision' | translate}}:</strong> {{'app.About.VisionDetail' | translate}}.
                    <br />
                    <br />

                </p>
            </div>
        </div>
    </div>
</div>
