<form [formGroup]="loginForm" novalidate class="app-login-form">
    <mat-form-field class="app-validate">
        <input matInput formControlName="userName" placeholder="Username" required>
        <mat-error *ngIf="userName.hasError('required')">
            User name is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="app-validate">
        <input matInput formControlName="password" placeholder="Password" type="password">
        <mat-error *ngIf="password.hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="rememberMe">Remember me!</mat-checkbox>
    <!-- https://github.com/angular/material2/issues/8798 -->
    <div>&nbsp;</div>

</form>